<!--listadd.length because it stores as an array also so .length checks if array is empty-->
<%if(error && error.length){%>
  <div class="alert alert-danger" role="alert">
    <%=error%>
  </div>
  <%}%>
  