
<footer class="footer  bg-body-secondary" >
    <div class="f-social">
      <a href="/">
          <i class="fa-brands fa-facebook fa-xl" style="color: #1676c0;"></i>
      </a>
      <a href="/">
          <i class="fa-brands fa-instagram fa-xl" style="color: #f104be;"></i>
        </a>
      <a href="/">
          <i class="fa-brands fa-linkedin fa-xl"></i>
        </a>
      <a href="/">
          <i class="fa-brands fa-x-twitter fa-xl" style="color: #000000;"></i>
        </a>
    </div>
    <div class="f-head">Voyagr</div>
    <div class="f-links">
        <a href="/">Privacy Policy</a>
        <a href="/">Terms and Conditions</a>
    </div>
</footer>