<!--listadd.length because it stores as an array also so .length checks if array is empty-->
<%if(listAdd && listAdd.length){%>
  <div class="alert alert-success" role="alert">
    <%=listAdd%>
  </div>
  <%}%>
  