<!--listadd.length because it stores as an array also so .length checks if array is empty-->
<%if(Usererror && Usererror.length){%>
  <div class="alert alert-danger mt-3" role="alert">
    <%=Usererror%>
  </div>
  <%}%>
  