<!--listadd.length because it stores as an array also so .length checks if array is empty-->
<%if(Usersuccess && Usersuccess.length){%>
  <div class="alert alert-success mt-3" role="alert">
    <%=Usersuccess%>
  </div>
  <%}%>
  